<!-- Card para mostrar TODOS los productos que se hayan ingresado -->
<div class="row">
    <div class="col" *ngFor="let producto of coleccionProductos">
        <div class="card" style="width: 18rem;">
            <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.alt}}">

            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.precio}}</p>

                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" 
                data-bs-target="#modalCard" (click)="mostrarVer(producto)">
                    Ver más
                </button>
            </div>
        </div>
    </div>
</div>
<!--modal para ver as informacion-->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" *ngIf="modalVisible" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{productoSeleccionado.nombre}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
         <div class="mb-3">
            {{productoSeleccionado.descripcion}}
         </div>

         <div class="mb-3">
            {{productoSeleccionado.precio}}
         </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">agregar producto</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>